* {
	font-family: 'Glegoo', serif;
}
h1 {
	font-weight: bold;
	font-size: 800%;
}
h2 {
	font-size: 350%;
}

.slide1, .slide2, .slide3 , .slide4{
	min-height: 560px; /* Must have a height or min-height set due to use of background images */
	background-size: cover;
	background-position: center center;
}
.slide1 {
	background-image: url(../images/2014/punchbag2.jpg);
}
.slide2 {
	background-image: url(../images/2014/moment3.jpg);
}
.slide3 {
	background-image: url(../images/2014/moment14.jpg);
}
.slide4 {
	background-image: url(../images/2014/squats1.jpg);
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-ms-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	transition: opacity 1s linear;
	opacity: .5;
}
.carousel.carousel-fade .active.item {
	opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 1;
	opacity: 0;
	filter: alpha(opacity=0);
}
/* Carousel Overlay */
.carousel-overlay {
	position: absolute;	
	right: 0;
	left: 0;
}
.carousel-overlay.carousel-heading {	
	bottom: 100px;	
}
.carousel-overlay {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}
.carousel-overlay.carousel-text {	
	bottom: 60px;	
}
.carousel-overlay .btn {
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #398439;
    border-radius: 6px;
}

